/* General Sidebar styling */
.sidebar {
    position: sticky;
    top: 80px;
    flex: 0.2;
    border-radius: 10px;
    background-color: #f3f2ef;
    height: fit-content;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.sidebar--minimized {
    flex: 0.05;
    width: 60px;
}

.sidebar__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    background-color: white;
    border-radius: 10px 10px 0 0;
    border: 1px solid lightgray;
    transition: all 0.3s ease;
}

.sidebar__avatar {
    margin-bottom: 10px;
}

.sidebar__top img {
    width: 100%;
    height: 60px;
    object-fit: cover;
    margin-bottom: -30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sidebar__top h2, .sidebar__top h4 {
    transition: all 0.3s ease;
}

.sidebar__top h2 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
}

.sidebar__top h4 {
    font-size: 14px;
    color: gray;
}

.sidebar__stats {
    padding: 10px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    transition: all 0.3s ease;
}

.sidebar__stat {
    font-size: 13px;
    color: gray;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.sidebar__statNumber {
    font-weight: bold;
    color: #0073b1;
}

.sidebar__professional, .sidebar__groups {
    padding: 10px;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
}

.sidebar__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 5px;
    transition: all 0.3s ease;
}

.sidebar__item p {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
}

.sidebar__item:hover {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 5px;
}

.sidebar__icon {
    color: gray;
}

.sidebar__label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

/* Sidebar Toggle Button */
.sidebar__toggle {
    position: absolute;
    top: 20px;
    right: -20px;
    background-color: #0073b1;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
    color: white;
}

.sidebar__toggle:hover {
    background-color: #005582;
}
